<<<<<<< HEAD
=======
.upper{
    font-size: 25px;
    line-height: 0.8em;
}
>>>>>>> 78ac4ea436e634fee3e109b6e486e8b37eb43b12
.underline{
    width: 100%;
    height: 2px;
    border-left: 95px solid black;
<<<<<<< HEAD
    background: rgb(172, 172, 172);
}
.list{
    padding-top: 20px;
}

.first{
    width: 30%;
    border: 2px solid rgb(172, 172, 172);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
=======
    background: gray;
>>>>>>> 78ac4ea436e634fee3e109b6e486e8b37eb43b12
}