.body{
    margin-top: 20px;
    margin-left: 100px;
    width: 1200px;
}

.underline{
    width: 1095px;
    height: 2px;
    border-left: 105px solid black;
    background: rgb(172, 172, 172);
}

.first{
    width: 316px;
    height: 300px;
    border: 2px solid rgb(172, 172, 172);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    float: left;
    margin-right: 2.5%;
    margin-bottom: 40px;
}

.second{
    width: 316px;
    height: 300px;
    border: 2px solid rgb(172, 172, 172);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 40px;
}
.third{
    width: 316px;
    height: 300px;
    border: 2px solid rgb(172, 172, 172);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    float: left;
    margin-left: 2.5%;
    margin-bottom: 40px;
}

.fourth{
    width: 316px;
    height: 200px;
    border-left: 2px solid rgb(172, 172, 172);
    border-right: 2px solid rgb(172, 172, 172);
    border-top: 2px solid rgb(172, 172, 172);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    float: left;
    margin-right: 2.5%;
}

.fifth{
    width: 316px;
    height: 200px;
    border-left: 2px solid rgb(172, 172, 172);
    border-right: 2px solid rgb(172, 172, 172);
    border-top: 2px solid rgb(172, 172, 172);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
}