@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
.body{
    margin-top: 25px;
    margin-left: 115px;
    width: 1200px;
}

.heading{
    font-family: 'Righteous', cursive;
    font-size: 45px;
    margin-bottom: 0;
}